/*
stylesheets/
|
|-- modules/              # Common modules
|   |-- _all.scss         # Include to get all modules
|   |-- _utility.scss     # Module name
|   |-- _colors.scss      # Etc...
|   ...
|
|-- partials/             # Partials
|   |-- _base.sass        # imports for all mixins + global project variables
|   |-- _buttons.scss     # buttons
|   |-- _figures.scss     # figures
|   |-- _grids.scss       # grids
|   |-- _typography.scss  # typography
|   |-- _reset.scss       # reset
|   ...
|
|-- vendor/               # CSS or Sass from other projects
|   |-- _colorpicker.scss
|   |-- _jquery.ui.core.scss
|   ...
|
`-- style.scss            # primary Sass file

*/
/* line 1, ../sass/modules/mixins.scss */
.box-sizing, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* line 1, ../sass/modules/mixins.scss */
.box-sizing, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* line 5, ../sass/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

/* line 11, ../sass/reset.scss */
body {
    background: #fff;
    color: #55575b;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto";
}

/* line 20, ../sass/reset.scss */
a {
    text-decoration: none;
    color: #55575b;
}

/* line 25, ../sass/reset.scss */
a:hover {
    text-decoration: none;
}

/* line 29, ../sass/reset.scss */
ul, li {
    list-style: none;
}

/* line 33, ../sass/reset.scss */
ul {
    padding: 0;
    margin: 0;
}

/* line 38, ../sass/reset.scss */
img {
    max-width: 100%;
}

/* line 42, ../sass/reset.scss */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
}

/* line 48, ../sass/reset.scss */
h1 {
    font-size: 36px;
}

/* line 52, ../sass/reset.scss */
h2 {
    font-size: 32px;
}

/* line 56, ../sass/reset.scss */
h3 {
    font-size: 28px;
}

/* line 60, ../sass/reset.scss */
h4 {
    font-size: 24px;
}

/* line 64, ../sass/reset.scss */
h5 {
    font-size: 20px;
}

/* line 69, ../sass/reset.scss */
h6 {
    font-size: 18px;
}

/* line 73, ../sass/reset.scss */
.mg-tp-20 {
    margin-top: 20px !important;
}

/* line 77, ../sass/reset.scss */
.mg-tp-40 {
    margin-top: 40px !important;
}

/* line 81, ../sass/reset.scss */
.mg-tp-50 {
    margin-top: 50px !important;
}

/* line 85, ../sass/reset.scss */
.mg-tp-60 {
    margin-top: 60px !important;
}

/* common css */
/* line 97, ../sass/reset.scss */
.button, .borderbtn, .greenbtn {
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    background: #ededed;
    color: #000;
    font-size: 15px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: solid 1px #ededed;
}

.purplebtn {
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    background: grey !important;
    color: #000;
    font-size: 15px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border: solid 1px grey !important;
}

.purplebtn:hover, .purplebtn:focus {
    background: #783cd6 !important;
    border: 1px solid #783cd6 !important;
}

/* line 108, ../sass/reset.scss */
.borderbtn {
    background: none;
    border: solid 1px #1db95c;
    color: #1db95c;
}

/* line 115, ../sass/reset.scss */
.borderbtn:hover, .borderbtn:focus {
    background: #1db95c;
    color: #fff;
}

/* line 120, ../sass/reset.scss */
.greenbtn {
    background: none;
    border: solid 1px #1db95c;
    background: #1db95c;
    color: #fff;
}

/* line 128, ../sass/reset.scss */
.greenbtn:hover, .greenbtn:focus {
    color: #1db95c;
    background: #fff;
}

/* line 133, ../sass/reset.scss */
.purplebtn {
    background: #783cd6;
    border: solid 1px #783cd6;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
}

/* line 142, ../sass/reset.scss */
.purplebtn:hover, .purplebtn:focus {
    color: #fff;
    background: #783cd6;
}

/* line 146, ../sass/reset.scss */
.btn-border-gray {
    border-color: #55575b;
    color: #55575b;
    background: none;
    border-radius: 10px;
}

/* line 153, ../sass/reset.scss */
.linkedinbtn {
    width: 100%;
    color: #fff;
    text-align: center;
    background: #008cc9;
}

/* line 159, ../sass/reset.scss */
.linkedinbtn:hover {
    color: #fff;
}

/* line 162, ../sass/reset.scss */
.linkedinbtn:focus {
    color: #fff;
}

/* header */
/* line 170, ../sass/reset.scss */
header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -ms-box-shadow: 0 5px 5px rgba(107, 44, 206, 0.35);
    -o-box-shadow: 0 5px 5px rgba(107, 44, 206, 0.35);
    box-shadow: 0 5px 5px rgba(107, 44, 206, 0.35);
    z-index: 999;
}

/* line 179, ../sass/reset.scss */
header .brand {
    margin: 12px 0;
}

@media (max-width: 768px) {
    /* line 179, ../sass/reset.scss */
    header .brand {
        text-align: center;
    }
}

@media (max-width: 680px) {
    /* line 179, ../sass/reset.scss */
    header .brand {
        text-align: left;
    }
}

@media (max-width: 380px) {
    /* line 179, ../sass/reset.scss */
    header .brand {
        width: 100%;
        text-align: center;
    }
}

/* line 197, ../sass/reset.scss */
header .headernav {
    width: 60%;
}

/* line 200, ../sass/reset.scss */
header .headernav .mobimenubtn {
    display: none;
    width: 25px;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 20px;
}

/* line 208, ../sass/reset.scss */
header .headernav .mobimenubtn span {
    height: 2px;
    background: #55575b;
    margin: 4px 0;
    display: block;
}

@media (max-width: 480px) {
    /* line 200, ../sass/reset.scss */
    header .headernav .mobimenubtn {
        display: block;
    }
}

/* line 220, ../sass/reset.scss */
header .headernav li {
    display: inline-block;
    padding: 7.6px 5px;
    border-bottom: solid 5px #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

/* line 226, ../sass/reset.scss */
header .headernav li:hover, header .headernav li.activenav {
    border-bottom: solid 5px #4505aa;
}

/* line 230, ../sass/reset.scss */
header .headernav li a {
    display: inline-block;
    padding: 10px;
    color: #55575b;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

/* line 237, ../sass/reset.scss */
header .headernav li:hover a, header .headernav li.activenav a {
    color: #4505aa;
}

/*04.07.2016*/
.box-demand /* change here */
{
    vertical-align: top;
    position: relative;
    top: -20px;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 1080px) {
    /* line 197, ../sass/reset.scss */
    header .headernav {
        width: 50%;
        position: relative;
    }
}

@media (max-width: 480px) {
    /* line 197, ../sass/reset.scss */
    header .headernav {
        width: 30%;
    }

    /* line 251, ../sass/reset.scss */
    header .headernav ul {
        position: absolute;
        width: 200px;
        overflow: hidden;
        left: -15px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.45);
        top: 64px;
        width: 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease-in-out 0.4s;
        transition: all 0.4s ease-in-out 0.4s;
    }

    /* line 264, ../sass/reset.scss */
    header .headernav ul li {
        width: 100%;
        background: #fff;
        border-bottom-color: #ededed;
        width: 200px;
    }

    /* line 270, ../sass/reset.scss */
    header .headernav ul li a {
        color: #55575b;
        display: block;
        padding: 5px 10px;
    }

    /* line 278, ../sass/reset.scss */
    header .headernav:hover ul {
        width: 200px;
        opacity: 1;
        visibility: visible;
    }
}

/* line 286, ../sass/reset.scss */
header .headersearh {
    padding: 20px;
    border-left: solid 1px #ededed;
    float: right;
    width: 40%;
    position: relative;
}

/* line 292, ../sass/reset.scss */
header .headersearh input[type="text"] {
    width: 100%;
    background: none;
    border: none;
    color: #000;
    padding-left: 20px;
}

/* line 298, ../sass/reset.scss */
header .headersearh input[type="text"]:focus {
    outline: none;
}

@media (max-width: 1080px) {
    /* line 286, ../sass/reset.scss */
    header .headersearh {
        width: 50%;
    }
}

@media (max-width: 480px) {
    /* line 286, ../sass/reset.scss */
    header .headersearh {
        width: 70%;
    }
}

/* line 309, ../sass/reset.scss */
header .headersearh:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    top: 37%;
    left: 10px;
    margin: auto;
    position: absolute;
}

/* line 324, ../sass/reset.scss */
header .headerright {
    margin-top: 12px;
}

/* line 326, ../sass/reset.scss */
header .headerright a {
    margin-left: 10px;
}

@media (max-width: 380px) {
    /* line 324, ../sass/reset.scss */
    header .headerright {
        width: 100%;
        text-align: center;
    }
}

/* footer css */
/* line 341, ../sass/reset.scss */
footer {
    background: #000;
    color: #fff;
}

/* line 345, ../sass/reset.scss */
footer h5 {
    color: #fff;
    padding-bottom: 10px;
    /* margin: 0 0 20px; 
     border-bottom: solid 3px #4505aa; */
}

/* line 352, ../sass/reset.scss */
footer .mega-footer__links {
    padding-bottom: 20px;
    padding-top: 40px;
}

/* line 357, ../sass/reset.scss */
footer a {
    color: #fff;
}

/* line 359, ../sass/reset.scss */
footer a:hover {
    color: #55575b;
}

/* line 364, ../sass/reset.scss */
footer .footerbottom {
    background: #55575b;
    padding: 10px 0;
}

footer .mega-footer__links-list ul li {
    display: inline-block;
}

@media (max-width: 768px) {
    /* line 370, ../sass/reset.scss */
    footer .mega-footer__links-list {
        margin-bottom: 15px;
    }

    /* line 373, ../sass/reset.scss */
    footer .mega-footer__links-list li {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
    }

    /* line 378, ../sass/reset.scss */
    footer .mega-footer__links-list li a {
        text-decoration: underline;
    }
}

/* index homepaeg css */
/* line 1, ../sass/partials/_index.scss */
.homebanner {
    color: #fff;
    margin-top: 64px;
}

/* line 4, ../sass/partials/_index.scss */
.homebanner .flexcontent {
    position: relative;
}

/* line 7, ../sass/partials/_index.scss */
.homebanner h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

@media (max-width: 480px) {
    /* line 7, ../sass/partials/_index.scss */
    .homebanner h1 {
        font-size: 24px;
        margin: 10px 0px;
    }

}

/* line 21, ../sass/partials/_index.scss */
.homebanner h5 {
    margin-bottom: 30px;
    color: #fff;
}

/* line 28, ../sass/partials/_index.scss */
.homebanner_slide {
    background-image: url("../../images/bannnerimg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
}

/* line 32, ../sass/partials/_index.scss */
.homebanner_slide img {
    width: 100%;
}

/* line 37, ../sass/partials/_index.scss */
.homebanner_content {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* line 46, ../sass/partials/_index.scss */
.homebanner_content .container {
    margin-top: 20%;
}

/* line 50, ../sass/partials/_index.scss */
.homebanner_content .slidecontetn2, .homebanner_content .slidecontetn1 {
    max-width: 520px;
    float: right;
    text-align: left;
    position: relative;
    margin-top: -140px;
}

/* line 58, ../sass/partials/_index.scss */
.homebanner_content .slidecontetn1 {
    float: left;
    margin-top: 0;
}

/* line 66, ../sass/partials/_index.scss */
.lovelyproject {
    position: relative;
}

@media (max-width: 768px) {
    /* line 66, ../sass/partials/_index.scss */
    .lovelyproject {
        text-align: center;
    }
}

/* line 73, ../sass/partials/_index.scss */
.lovelyproject .container {
    background: #fff;
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
}

/* line 80, ../sass/partials/_index.scss */
.lovelyproject .loadmorestrip {
    margin-bottom: 20px;
}

/* line 83, ../sass/partials/_index.scss */
.lovelyproject .loadmorestrip .borderbtn {
    padding: 5px 20px;
}

/* line 90, ../sass/partials/_index.scss */
.lovelyproject .sectionheading {
    margin-bottom: 35px;
}

.lovelyproject .sectionheading h2 {
    font-weight: 300;
}

/* line 92, ../sass/partials/_index.scss */
.lovelyproject .sectionheading h4 {
    display: inline-block;
    border-bottom: solid 2px #1db95c;
    margin: 0;
    padding: 5px 0;
}

/* line 98, ../sass/partials/_index.scss */
.lovelyproject .sectionheading h4 span {
    color: #1db95c;
}

.looking-box-main {
    border-top: 1px solid rgb(121, 2, 121);
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
    width: 100%;
    background: #fff;
    display: inline-block;
}

/* line 117, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default {
    background: #fff;
    width: 100%;
    height: 370px;
    display: inline-block;
    position: relative;
    border: 3px #ededed solid;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width: 980px) {
    /* line 104, ../sass/partials/_index.scss */
    .lovelyproject .gig-item {
        display: inline-block;
        vertical-align: top;
        margin: 0 2.0259319% 20px;

    }

    .looking-box-main {
        position: relative;
    }

    .lovelyproject .gig-item-default {
        height: auto;
    }
}

@media (max-width: 980px) {
    /* line 112, ../sass/partials/_index.scss */
    .lovelyproject .gig-item {
        margin: 0 0 20px;
    }
}

@media (max-width: 768px) {
    /* line 117, ../sass/partials/_index.scss */
    .lovelyproject .gig-item-default {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
        vertical-align: top;
    }
}

/* line 137, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip {
    padding: 5px 0;
}

/* line 141, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .card-badges {
    padding: 0 12px;
    height: 26px;
    overflow: hidden;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

/* line 147, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .card-badges .gig-badges.featured {
    display: inline;
    padding: 5px 0px;
    line-height: normal;
}

/* line 155, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .card-badges .gig-badges.featured a {
    color: #fff;
}

/* line 161, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .gig-seller {
    background-color: #fff;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    color: #ededed;
    width: auto;
    padding: 0 12px;
    overflow: hidden;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    -webkit-transition: translate3d(0, 0, 0);
    transition: translate3d(0, 0, 0);
    color: #000;
    font-weight: 600;
}

/* line 176, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .gig-seller .circ-rating-s8 {
    float: right;
    display: block;
    margin-right: 5px;
    margin-top: 3px;
}

/* line 182, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .badaestrip .gig-seller .circ-rating-s8:nth-child(2) {
    color: #4505aa;
}

/* line 191, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .gig-link-main {
    display: block;
    height: 50px;
    margin: 0 auto;
    position: relative;
    text-decoration: none !important;
    transition: all 0.15s ease-in-out 0s;
    width: 85%;
    border-radius: 100%;
    border: 2px solid #55308f;
}

/* line 204, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default h6 {
    padding: 5px 12px 9px 12px;
    color: #55575b;
    display: block;
    -webkit-word-break: break-word;
    -moz-word-break: break-word;
    -ms-word-break: break-word;
    -o-word-break: break-word;
    word-break: break-word;
    font-size: 15px;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
}

/* line 213, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default h6 a {
    color: #55575b;
}

/* line 216, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default h6 a span {
    color: #4505aa;
    font-weight: 700;
}

/* line 226, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .gig-sub {
    padding: 5px 12px;
    position: relative;
    margin-top: 10px;
    border-top: 1px #ededed solid;
}

/* line 232, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .gig-sub .gig-price {
    float: right;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #00b22d;
    text-decoration: none;
}

/* line 243, ../sass/partials/_index.scss */
.lovelyproject .gig-item-default .gig-collect {
    position: absolute;
    left: 10px;
    font-size: 18px;
    width: 36px;
    height: 12px;
    z-index: 2;
}

/* line 257, ../sass/partials/_index.scss */
.troubleshootingbx {
    /*background-image: url("../../images/transp_bg.png");*/
    background-position: 0 0;
    background-repeat: no-repeat;
    border-top: solid 1px rgba(200, 200, 200, 0.49);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    background-repeat: repeat;
    background-color: #fff;
}

/* line 264, ../sass/partials/_index.scss */
.troubleshootingbx .container {
    background: none;
}

/* line 269, ../sass/partials/_index.scss */
.troubleshootingbx .sectionheading h4 {
    border-bottom-color: #790279;
}

/* line 275, ../sass/partials/_index.scss */
.troubleshootingbx .gig-item .gig-item-default {
    border-radius: 5px;
    border: 1px #790279 solid;
    overflow: hidden;
    z-index: 1;
}

/* line 283, ../sass/partials/_index.scss */
.howitwork {
    background: #ededed;
    padding: 40px 0 40px;
    background-image: url("../../images/target-wall.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* change Here */
.expert-howitwork h2 {
    font-weight: 300;
}

.expert-howitwork h2, .expert-howitwork h6 a, .expert-howitwork p {
    color: #fff !important;
}

/* line 287, ../sass/partials/_index.scss */
.howitwork .workbox {
    margin-bottom: 20px;
}

/* line 290, ../sass/partials/_index.scss */
.howitwork .workbox h6 {
    font-weight: 500;
}

/* line 293, ../sass/partials/_index.scss */
.howitwork .workbox h6 a {
    color: #000;
}

/* line 298, ../sass/partials/_index.scss */
.howitwork .workbox .circleimg {
    margin-bottom: 20px;
}

/* line 302, ../sass/partials/_index.scss */
.howitwork .workbox p {
    margin-bottom: 0;
}

/* line 308, ../sass/partials/_index.scss */
.curatedpages {
    padding: 26px 0;
}

/* line 310, ../sass/partials/_index.scss */
.curatedpages .curatedhead {
    margin-bottom: 20px;
}

/* line 313, ../sass/partials/_index.scss */
.curatedpages .curatedhead h2 {
    margin: 0;
    font-weight: 300;
}

/* line 318, ../sass/partials/_index.scss */
.curatedpages .curatedhead .btn {
    margin-top: 3px;
}

.curatedpages figure {
    padding-bottom: 20px;
}

/* line 325, ../sass/partials/_index.scss */
.proejctcome {
    background: #ececec;
    padding: 50px 0 30px;
}

/* line 330, ../sass/partials/_index.scss */
.proejctcome .projeectcome-in .greenbtn {
    border-radius: 10px;
}

/* line 335, ../sass/partials/_index.scss */
.proejctcome p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* 7-5-2016 */
.proejctcome .projeectcome-in h2 {
    font-weight: 300;
    line-height: 38px;
    padding-bottom: 45px;
}

.proejctcome .projeectcome-in h2 > span {
    display: block;
}

/* login page */
/* Login Page Css */
/* line 3, ../sass/partials/_login.scss */
.midbody {
    margin-top: 63px;
    -ms-background-size: cover;
    background-size: cover;
}

/* line 8, ../sass/partials/_login.scss */
.midbodybg {
    background-image: url("../../images/midbodybg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* line 12, ../sass/partials/_login.scss */
.loginpage {
    padding: 40px 0;
}

/* line 14, ../sass/partials/_login.scss */
.loginpage .formbox {
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ededed;
    background: #fff;
    border-radius: 2px;
}

/* line 20, ../sass/partials/_login.scss */
.loginpage .formbox h2 {
    margin-top: 0;
    font-size: 32px;
}

/* line 25, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy {
    padding: 20px;
    border-radius: 2px 2px 0 0;
}

/* line 29, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy button {
    width: 100%;
    background: #1db95c;
    color: #fff;
    font-size: 16px;
}

/* line 37, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .rememberme input[type="checkbox"] {
    display: inline-block;
    margin: 0;
}

/* line 41, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .rememberme label {
    margin-left: 10px;
}

/* line 45, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .text-strikethru {
    position: relative;
    text-align: center;
    margin-top: 5px;
}

/* line 50, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .text-strikethru .line {
    height: 1px;
    background-color: #ededed;
    margin: 0 auto;
}

/* line 57, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .text-strikethru .text {
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    top: -16px;
    position: relative;
}

/* line 67, ../sass/partials/_login.scss */
.loginpage .formbox .formbdy .linkedinbtn {
    width: 100%;
    color: #fff;
    text-align: center;
    background: #008cc9;
}

/* line 77, ../sass/partials/_login.scss */
.loginpage .formbox-bottom {
    border-radius: 0 0 2px 2px;
    padding: 15px;
    background: #ededed;
}

/* line 81, ../sass/partials/_login.scss */
.loginpage .formbox-bottom a {
    font-weight: bold;
    color: #4505aa;
}

/* line 88, ../sass/partials/_login.scss */
label.error {
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
}

/* registration page */
/* line 1, ../sass/partials/_register-confirm.scss */
.reg-confirm {
    padding: 40px 0;
}

/* line 4, ../sass/partials/_register-confirm.scss */
.reg-confirm .regconfrimbox {
    padding: 40px 20px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
}

/* line 12, ../sass/partials/_register-confirm.scss */
.reg-confirm .regconfrimbox strong {
    font-weight: bold;
    color: #4505aa;
}

/* profile page */
/* line 1, ../sass/partials/_profilepage.scss */
.profilebox {
    padding: 60px 0;
}

/* line 3, ../sass/partials/_profilepage.scss */
.profilebox .formbox {
    max-width: 400px;
    background: #fff;
    padding: 15px;
    margin: 0 auto;
    border-radius: 2px;
    border: solid 1px #fff;
}

/* line 12, ../sass/partials/_profilepage.scss */
.profilebox .profileimage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: -55px auto 0;
    background: #ededed;
    position: relative;
}

/* line 20, ../sass/partials/_profilepage.scss */
.profilebox .profileimage:before {
    position: absolute;
    content: "\f007";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    text-align: center;
    font-size: 50px;
    opacity: 0.45;
    top: 14px;
    left: 0;
}

/* line 39, ../sass/partials/_profilepage.scss */
.upload {
    position: relative;
    margin: 20px 0 30px;
}

/* line 43, ../sass/partials/_profilepage.scss */
.upload .form-group {
    margin-bottom: 0;
}

/* line 47, ../sass/partials/_profilepage.scss */
.upload input {
    border-radius: 0;
}

/* line 51, ../sass/partials/_profilepage.scss */
.upload button {
    border-radius: 0;
    background: #4505aa;
    width: 100%;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    height: 35px;
    color: #fff;
    position: relative;
    z-index: 2;
}

/* line 63, ../sass/partials/_profilepage.scss */
.upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

/* line 76, ../sass/partials/_profilepage.scss */
.text-strikethru {
    position: relative;
    text-align: center;
    margin-top: 5px;
}

/* line 81, ../sass/partials/_profilepage.scss */
.text-strikethru .line {
    height: 1px;
    background-color: #ededed;
    margin: 0 auto;
}

/* line 88, ../sass/partials/_profilepage.scss */
.text-strikethru .text {
    display: inline-block;
    background: #fff;
    padding: 5px 10px;
    font-size: 14px;
    top: -16px;
    position: relative;
}

/* teach option page */
/* line 1, ../sass/partials/_teachoption.scss */
.teachbdy {
    margin-top: 40px;
    background-image: url("../../images/teachgn.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* line 6, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
@includetext-align (center);
}

/* line 11, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption h1 {
    margin: 0 0 60px;
    font-weight: 200;
    text-align: center;
}

/* line 16, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption button {
    width: 100%;
    background: #1db95c;
    color: #fff;
    font-size: 16px;
}

/* line 22, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption button:hover {
    color: #fff;
}

/* line 27, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .inputwrap {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* line 32, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .inputwrap .form-group {
    text-align: left;
}

/* line 37, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .inputwrap button {
    width: auto;
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
}

/* line 48, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .h2 {
    margin-top: 0;
    font-weight: 300;
}

/* line 54, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .form-group {
    margin: 0 0px 15px;
}

/* line 57, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .form-group .form-control {
    width: 100%;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height: auto;
}

/* line 65, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .form-group .form-control option {
    font-size: 15px;
}

/* line 69, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .form-group .form-control:focus {
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #4505aa;
}

/* line 78, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .enter-title {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
}

/* line 83, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .enter-title .form-group {
    width: 100%;
    margin: 0;
}

/* line 87, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .enter-title .form-group .form-control {
    width: 100%;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px;
    border-color: #ededed;
    height: auto;
    font-size: 18px;
}

/* line 98, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .enter-title .form-group .form-control:focus {
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-color: #4505aa;
}

/* line 106, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .selectcountry {
    margin-top: 20px;
}

/* line 109, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .selectcountry select {
    border-radius: 6px;
    border: 1px solid #d9d9de;
    display: inline-block;
    cursor: default;
    padding: 10px 40px 10px 10px;
    position: relative;
    height: 40px;
    line-height: 20px;
    height: auto;
}

@media (max-width: 380px) {
    /* line 109, ../sass/partials/_teachoption.scss */
    .teachbdy .teachoption .selectcountry select {
        width: 100%;
    }
}

/* line 124, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .selectcountry select option {
    font-size: 15px;
}

/* line 130, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .buttonbox {
    margin-top: 52px;
}

/* line 133, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .buttonbox p {
    margin-top: 15px;
}

/* line 139, ../sass/partials/_teachoption.scss */
.teachbdy .teachoption .sentence p {
    font-size: 16px;
}

/* line 145, ../sass/partials/_teachoption.scss */
.teachbdy .inline-block {
    display: inline-block;
}

/* line 149, ../sass/partials/_teachoption.scss */
.teachbdy .inputwrap {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* line 154, ../sass/partials/_teachoption.scss */
.teachbdy .inputwrap .form-group {
    text-align: left;
}

/* line 158, ../sass/partials/_teachoption.scss */
.teachbdy .inputwrap button {
    width: auto;
    margin: 0 auto;
}

/* line 167, ../sass/partials/_teachoption.scss */
.rulewrap {
    display: table;
    width: 100%;
    height: 320px;
}

/* line 172, ../sass/partials/_teachoption.scss */
.rulewrap .rulebox {
    display: table-cell;
    width: 33%;
    padding: 15px;
    border-left: solid 1px #ededed;
    border-top: solid 1px #ededed;
    vertical-align: middle;
}

/* line 178, ../sass/partials/_teachoption.scss */
.rulewrap .rulebox:first-child {
    border-left: none;
}

@media (max-width: 600px) {
    /* line 172, ../sass/partials/_teachoption.scss */
    .rulewrap .rulebox {
        display: block;
        width: 100%;
    }
}

@media (max-width: 600px) {
    /* line 167, ../sass/partials/_teachoption.scss */
    .rulewrap {
        display: block;
        height: auto;
    }
}

/* line 199, ../sass/partials/_teachoption.scss */
.alertnative {
    margin-top: 30px;
    max-width: 900px;
    margin: 20px auto;
}

/* Learn More page */
/* line 1, ../sass/partials/_learnmore.scss */
.learnmore-top {
    margin-top: 63px;
    padding: 40px 0;
    background: rgba(234, 255, 243, 0.68);
}

/* line 8, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion h1 {
    text-transform: uppercase;
    font-weight: 200;
}

/* line 12, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion .videobox {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

/* line 16, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion .videobox img {
    position: relative;
}

/* line 20, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion .videobox iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

/* line 32, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion .btnbox .button, .learnmore-top .midportion .btnbox .borderbtn, .learnmore-top .midportion .btnbox .greenbtn, .learnmore-top .midportion .btnbox .purplebtn {
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

/* line 38, ../sass/partials/_learnmore.scss */
.learnmore-top .midportion .btnbox span {
    margin: 0 40px;
    font-size: 20px;
    font-color: #ededed;
    font-style: italic;
    opacity: 0.6;
    text-trasnform: uppercase;
}

/* line 49, ../sass/partials/_learnmore.scss */
.learnmore-top .highlighttxt {
    margin-top: 40px;
}

/* line 51, ../sass/partials/_learnmore.scss */
.learnmore-top .highlighttxt h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* line 57, ../sass/partials/_learnmore.scss */
.learnmore-top .highlighttxt ol {
    padding-left: 40px;
    margin-bottom: 20px;
}

/* line 61, ../sass/partials/_learnmore.scss */
.learnmore-top .highlighttxt ol li {
    list-style: disc;
    font-size: 18px;
}

/* line 67, ../sass/partials/_learnmore.scss */
.learnmore-top .highlighttxt > span {
    display: block;
    margin: 20px 0;
}

/* line 73, ../sass/partials/_learnmore.scss */
.learnmore-mid {
    padding: 40px 0;
}

/* line 76, ../sass/partials/_learnmore.scss */
.learnmore-mid h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* line 81, ../sass/partials/_learnmore.scss */
.learnmore-mid P {
    margin-bottom: 20px;
}

/* line 85, ../sass/partials/_learnmore.scss */
.learnmore-mid .button, .learnmore-mid .borderbtn, .learnmore-mid .greenbtn, .learnmore-mid .purplebtn {
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: middle;
}

/* Learn More page */
/* line 1, ../sass/partials/_teachsetting.scss */
.teachsetting {
    margin-top: 63px;
    padding: 40px 0 0 0;
}

/* line 5, ../sass/partials/_teachsetting.scss */
.teachsetting h2.border-title {
    margin-bottom: 30px;
    border-bottom: solid 1px #ededed;
    padding-bottom: 30px;
}

/* line 11, ../sass/partials/_teachsetting.scss */
.teachsetting .team-thumb {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

/* line 20, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop .category {
    margin: 10px 0 0;
    color: #black-color;
    font-style: italic;
}

/* line 26, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop .subcategory {
    margin: 10px 0 0;
}

/* line 28, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop .subcategory span {
    display: inline-block;
    background: #ededed;
    padding: 5px 10px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease-in 0.2s;
    transition: all 0.4s ease-in 0.2s;
    cursor: pointer;
}

/* line 36, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop .subcategory span:hover {
    background: #1db95c;
    color: #fff;
}

/* line 43, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop h4 {
    margin: 10px 0;
}

/* line 48, ../sass/partials/_teachsetting.scss */
.teachsetting .teachertop .teachers-details li {
    position: relative;
    padding: 7px 0;
}

/* Subject area page */
/* line 1, ../sass/partials/_subjectarea.scss */
.categorybox {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: 25px;
}

/* line 8, ../sass/partials/_subjectarea.scss */
.checkbox + .checkbox, .radio + .radio {
    margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
/* Gutropolis Css Start */
.midbody-new {
    background: url('../../images/men-lapi.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 130px 0px;

}

.expert-main {
    margin-top: 68px;
    padding: 11px 0px;
}

.expert-q {
    width: 100%;

}

.expert-q li {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding: 0px 10px;
}

.expert-q li:before {
    content: "|";
    position: absolute;
    left: 0;
    color: #55575B;
}

.expert-q li:first-child:before {
    display: none;
}

.expert-q li a {
    font-size: 14px;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    color: #55575B;
    text-transform: capitalize;
}

.need-expert {
    width: 100%;
    padding: 15px 0px;
    /* background:rgba(51, 51, 51, 0.55); */
    display: inline-block;
}

.need-expert h1 {
    color: #fff;
"Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    /*04.07.2016*/
}

.need-expert input[type="text"] {
    width: 100%;
    padding: 10px;
    background: rgba(85, 87, 91, 0);
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    margin-bottom: 15px;
}

.heading-one {
    background: #fff;
    padding: 20px 0px;

}

.heading-one h1 {
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.que-form {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}

.que-form input[type="text"] {
    width: 80%;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 16px;
}

.que-form textarea {
    width: 80%;
    padding: 10px;
    height: 100px;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 16px;
}

.que-form button {

    background: #1db95c;
    color: #fff;
    font-size: 16px;
    padding: 8px 35px;
}

.need-expert .learnbtn {
    padding: 10px 22px;
    font-size: 20px;
    float: right;
    min-width: 200px
}

.que-form button:hover, .que-form button:focus {
    color: #fff;
}

/* Expert-New Page Css Start here */
.equal {
    padding: 40px 0px;
}

.midbody-new-bg {
    background: url('../../images/expert-bg-new.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 100px 0px;
    text-align: center;
}

.midbody-new-bg h1 {
    font-size: 40px;
    font-weight: 300;

}

.sub-header-new {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}

.sub-header-new h1 {
    text-transform: capitalize;
    font-weight: 300;
}

.sub-header-new hr {
    width: 230px;
    border-color: #94c619;
    border-width: 2px;
    margin: 10px auto;
}

.category-box {
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 15px;
    display: inline-block;
    margin-bottom: 25px;
    background-color: #f7f7f7;
}

.category-box h3 {
    font-size: 13px;
    text-transform: uppercase;
}

.category-box h3 span {
    font-size: 16px;
    display: block;
    margin-top: 4px;
    text-transform: capitalize;
}

.category-box h4 {
    margin-left: 50px;
    margin-bottom: 2px;
    font-size: 18px;
}

.category-box:hover {
    box-shadow: 0px 2px 6px #ccc;
}

.five-star {
    width: 100%;
    clear: both;

}

.five-star li {
    display: inline-block;
    font-size: 20px;
    color: rgb(255, 200, 0);
}

.category-box hr {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border-color: #E3E3E3;
    margin-bottom: 8px;
}

.expert-timing span {
    width: 24%;
    display: inline-block;
    position: relative;
    font-size: 13px;
}

.expert-timing span i {
    position: absolute;
    left: 0;
    top: 5px;
}

.expert-timing span:nth-child(3) {
    padding-left: 15px;
}

.expert-timing a {
    background: #4505AA;
    color: #fff;
    padding: 2px 6px;
    float: right;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    border: 1px solid transparent;
}

.expert-timing a:hover, .expert-timing a:focus {
    background: #fff;
    border: 1px solid #50288F;
    color: #4505AA;

}

.skill-improve {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #50288F;
    text-align: center;
    padding: 20px;
}

.skill-improve h1 {

    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0px;
}

/* Expert-New Page Css End here */

@media only screen and (max-width: 767px) {
    .need-expert h1 {
        font-size: 30px;
        text-align: center;
        margin: 10px 0px;
    }

    .slect-new {
        margin-bottom: 10px;
    }

    header {
        position: relative;
    }

    .midbody-new {
        padding: 10px 0px;
    }

    .homebanner {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .expert-q {
        margin-top: 30%;

    }

    .expert-q li {
        padding: 0px 4px;
    }

    .expert-q li:before {
        display: none;
    }
}

/* Gutropolis Css End */

.my-error-class {
    color: #ffffff; /* white */
}

.my-valid-class {
    color: #00CC00; /* green */
}

/************ expertspecialattention ************************/
.midbody-left {
    float: left;
}

.midbody-img {
    float: left;
    width: 140px;

}

.midbody-img p {
    font-size: 14px;
    font-weight: 400;
}

.midbody-img p i {

    display: inline-block;
    font-size: 15px;
    color: rgb(255, 200, 0)
}

.heading-part {
    padding: 30px 0px;
    text-align: center;
}

.heading-part h1 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;

}

.heading-part h2 {
    font-size: 24px;
    font-weight: 300;
    color: #6b6a6a;

}

hr.sub-header-new {
    width: 100%;
    border-color: #efefef;
    margin: 0px 0px;

}

.subhead-box {
    float: left;
    padding: 0px;

}

.subhead-box h4 {
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.subhead-box h5 {
    font-size: 20px;
    font-weight: 300;
    float: left;
    padding: 15px 0px;
    color: #454444;
}

.subhead-box ul {
    font-size: 15px;
    float: left;
    color: #a8a7a7;
    font-weight: 100;
    padding-top: 3px;
    padding-left: 15px;
}

.subhead-box ul li {
    list-style: decimal;
}

.subhead-box textarea {
    float: right;
    font-family: Roboto;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d9d9d9;
    resize: vertical;
    height: 100px;
}

.Submit_bution {
    float: left;
    padding: 10px 20px;
    border: none;
    background: #3bba09;
    font-size: 14px;
    color: #fff;

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.fileUpload {
    padding: 10px 20px;
    float: left;
    border: none;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    color: #a0a0a0;
    font-weight: 200;
    margin-left: 15px;
    cursor: pointer;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.fileUpload label {
    cursor: pointer;
}

.fileUpload:hover {
    background: #3bba09;
    color: #fff;

}

/************** end expertspecialattention ***********************/

/* Expert page Css start */
.expert-bg-box {
    background: url('../../images/expert-camera.jpg') no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding: 100px 0px;
    text-align: center;
}

.expert-bg-box h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

p.flot-icon {
    width: 100%;
    padding: 15px 0px;
}

p.flot-icon > a {
    border: 2px solid #fff;
    line-height: 40px;
    border-radius: 100%;
    color: #fff;
    font-size: 25px;
    width: 45px;
    display: inline-block;
    height: 45px;
    margin: 0px 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

p.flot-icon > a:hover {
    border-color: #4505AA;
    color: #4505AA;
    background: #fff;
}

.edit-box-content-right {
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.edit-box-content-right h5 {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.edit-box-profile-box-about {
    width: 100%;
    background: #F7F7F7;
    margin-top: -10%;
    border-radius: 10px;
    display: inline-block;
    padding-bottom: 15px;
}

.edit-box-profile-box-about .profile-box-about-left {
    width: 100%;
    margin-left: 25px;

}

.edit-box-profile-box-about .profile-box-about-left .profile-pic-box {
    width: 180px;
    height: 180px;
    position: relative;
    margin-top: -10%;

}

.edit-box-profile-box-about .profile-box-about-left .profile-pic-box > figure {
    width: 140px;
    height: 140px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.edit-box-profile-box-about .profile-box-about-left .profile-pic-box > figure > img {
    width: 140px;
    height: 140px;
    max-width: 100%;
}

.edit-box-profile-box-about .profile-box-about-left .profile-pic-box .ranking {
    position: absolute;
    right: 30px;
    bottom: 41px;
    width: 50px;
}

.edit-box-profile-box-about .profile-information {
    width: 100%;
}

.edit-box-profile-box-about .profile-information h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;

}

.edit-box-profile-box-about .profile-information h3 > span {
    font-size: 20px;
}

.edit-box-profile-box-about .profile-information p {
    font-size: 16px;
    font-weight: 600;
    color: #565353;
    padding: 10px 0px;

}

.edit-profile-detail {
    width: 100%;
    position: relative;
}

.edit-profile-detail .min-col-box-50 {
    width: 48%;
    float: left;
    position: relative;
}

.edit-profile-detail .min-col-box-50 p {
    padding-left: 30px;
    margin-bottom: 10px;
}

.edit-profile-detail .min-col-box-50 p > span {
    font-weight: 600;
}

.edit-profile-detail .min-col-box-50 p > i {
    position: absolute;
    left: 0px;
}

.edit-profile-detail .min-col-box-50 p > i.flaticon-multimedia:before {
    font-size: 24px;
}

.edit-profile-detail .min-col-box-50 a {
    border-radius: 4px;
}

.edit-profile-tab {
    width: 100%;
    padding-top: 30px;
}

.edit-profile-tab ul {
    width: 100%;
    border: 1px solid #ccc;
}

.edit-profile-tab h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.edit-profile-tab h3 > span {
    font-size: 20px;
    font-weight: 400;
}

.profile-information ul > li {
    width: 242px;
    text-align: center;
}

.profile-information ul > li > a {
    border: none;
    margin-right: 0px;
    border-radius: 0;
    font-weight: 600;
}

.profile-information ul > li.active > a, .profile-information ul > li.active > a:focus, .profile-information ul > li.active > a:hover {
    border: none;
    margin: 0px;
}

.profile-information .tab-content {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

.profile-box-about-right {
    width: 100%;
    margin-top: 45px;
}

.profile-box-about-right h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.scroll-box-main {
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 0px;
    position: relative;
}

.scroll-box-main .pink-btn {
    background: #F21AA5;
    padding: 0px 15px;
    font-size: 10px;
    position: absolute;
    top: -9px;
    right: 10px;
    border-radius: 5px;
    color: #fff;
    height: 20px;
    line-height: 20px;

}

.scrollbox {
    position: relative;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
    background: #fff;
    height: 305px;
    width: 100% !important;
}

.scroll-box-main span {
    display: block;
    text-align: center;
    padding: 10px 0px;
}

.scroll-box-main span a {
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
}

.scrollbox > p {
    position: relative;
    font-size: 14px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.scrollbox > p > i {
    position: absolute;
    left: 0px;
    top: 4px;
    font-size: 12px;
}

.vertical-track {
    width: 8px; /* The width of the scrollbar */
    background-color: #ddd; /* The color of the scrollbar track*/
}

.vertical-handle {
    width: 100%;
    background-color: #A3A0A0; /* The color of the scrollbar handle */
}

@media only screen and (max-width: 1150px) and (min-width: 990px) {
    .edit-box-content-right h5 {
        font-size: 14px;
        text-align: right;
    }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
    .edit-box-profile-box-about {
        padding-top: 15px;
    }

    .edit-box-content-right h5 {
        font-size: 14px;
    }

    .edit-box-profile-box-about .profile-box-about-left .profile-pic-box {
        margin-top: 0px;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 767px) {
    edit-box-profile-box-about {
        margin-top: 0%;
        padding-top: 15px;
    }

    .brand a:nth-child(2) {
        display: none;
    }

    .edit-box-profile-box-about .profile-box-about-left {
        margin-left: 0px;
    }

    .edit-profile-detail .min-col-box-50 {
        width: 100%;
    }

    .edit-box-profile-box-about .profile-box-about-left .profile-pic-box {
        margin: 0px auto;
    }

    .homebanner_content .container {
        margin-top: 0px;
    }

    .box-demand {
        top: 0px;
        padding-top: 20px;
    }
}

/* Expert page Css End */
.work-box-inner h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0px;
}

.work-box-inner p span {
    display: block;
}

.work-box-inner:hover {
    background: #783CD6;
    color: #fff;

}

.work-box-inner:hover h4 {
    color: #fff;
}

/* Home page how it work */
.work-expert-box-main {
    margin-bottom: 30px;
}

.gs-divide-5 {
    width: 19%;
    padding: 0px 15px;
    display: inline-block;
}

.work-box-outer {
    position: relative;
    height: 200px;

}

.work-box-inner {
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px 0px;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    overflow: hidden;
}

.work-box-inner:before {
    content: '';
    position: absolute;
    left: 0px;
    border: 2px solid transparent;
    width: 95%;
    height: 95%;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
}

.work-box-inner:after {
    content: '';
    position: absolute;
    bottom: -50px;
    border-left: 15px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 15px solid #fff;
    border-right: 15px solid transparent;
    margin: 0px auto;
    width: 30px;
    left: 0;
    right: 0;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;

}

.work-expert-inside-box {
    width: 100%;
    background: #55308f;
    padding: 30px 15px;
}

.projectstrip .button.purplebtn {
    background: #783cd6 !important;
}

/* home page css start here */
.homepage-slider-box {
    width: 100%;
}

.homebanner .homepage-slider-box .box-demand {
    font-size: 40px;
}

.homebanner .homepage-slider-box h1 {
    text-transform: capitalize;
    font-size: 22px;
}

.help-expert-box {
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    display: inline-block;
}

.help-expert-box .help-expert-box-inner {
    position: absolute;
    left: 0;
    width: 100%;
    top: -115px;
}

.help-expert-box .help-expert-box-inner .help-expert-content-box {
    width: 100%;
    border-radius: 3px;
    border: 10px solid #fff;
    padding: 50px 0px;
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.bg-box-one {
    background: url(../../images/help-left-side.jpg) no-repeat;
}

.bg-box-two {
    background: url(../../images/help-right-side.jpg) no-repeat;
}

.bg-box-one:before, .bg-box-two:before {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    opacity: 0;
}

.bg-box-one:hover:before, .bg-box-two:hover:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 55, 147, 0.28);
    z-index: 1;
    top: 0;
    opacity: 1;

}

.help-expert-box .help-expert-box-inner h3 {
    color: #fff;
    z-index: 1;
    position: relative;
}

.help-expert-box .help-expert-box-inner p {
    color: #fff;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.help-expert-box .help-expert-box-inner p span {
    display: block;
}

.green-box-btn {
    background: #008000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #008000;
    position: relative;
    z-index: 1;
}

.green-box-btn:hover, .green-box-btn:focus {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
}

.work-pera {
    width: 100%;
    font-style: italic;
}

.work-pera span {
    display: block;
}

.how-it-work-box {
    padding: 30px 0px;
}

.how-it-work-box .how-it-work-box-inner {
    width: 100%;
    margin-bottom: 15px;
}

.how-it-work-box .how-it-work-box-inner h4 {
    padding: 15px 0px;
    font-size: 18px;
    color: #55308f;
}

.box-mid-width {
    width: 70%;
    margin: 0px auto;
}

.testimonial-box-inner {
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.testimonial-box-inner:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 40px solid #f0f0f0;
    right: 0px;

}

.box-mid-width figure {
    position: relative;
}

.box-mid-width figure img {
    position: absolute;
    left: 0px;
}

.box-mid-width figure h5 {
    font-size: 20px;
    color: #55308f;
    text-align: left;
    padding-left: 60px;
}

.box-mid-width figure h5 span {
    display: block;
    font-size: 14px;
}

.expert-working {
    background: url(../../images/bg-purple-box.jpg) no-repeat;
    width: 100%;
    /* padding:60px 0px; */
    color: #fff;
}

.expert-working h3 {
    color: #fff;
}

.expert-working p {
    font-style: italic;
    padding: 20px 0px;
}

.expert-working p span {
    display: block;
}

.expert-working a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    display: inline-block;
}

.bg-lite-grey {
    background: #f6f8f9;
}

.specific-service {
    width: 100%;
    background: #fff;
    border: 5px solid #fff;
    text-align: left;
    margin-bottom: 15px;
    height: 315px;
    position: relative;
}

.specific-service > aside {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.specific-service > aside > p {
    font-size: 16px;
}

.specific-service > aside > h5 {
    font-size: 18px;
    font-weight: 600;
    color: #555;
}

.specific-service > aside > h5 > span {
    font-size: 14px;
    color: #a1a1a1;
    display: block;
    font-weight: 400;
    padding: 10px 0px;
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .help-expert-box .help-expert-box-inner {
        position: relative;
        left: 0;
        width: 100%;
        top: 75px;
    }
}

@media only screen and (max-width: 767px) {
    .need-expert h1 {
        font-size: 30px;
        text-align: center;
        margin: 10px 0px;
    }

    .slect-new {
        margin-bottom: 10px;
    }

    header {
        position: relative;
    }

    .midbody-new {
        padding: 10px 0px;
    }

    .homebanner {
        margin-top: 0px;
    }

    .box-mid-width {
        width: 100%;
    }

    .help-expert-box .help-expert-box-inner {
        position: relative;
        top: 0px;
    }

    .specific-service {
        height: auto;
    }

    .specific-service > aside {
        position: relative;
    }
}

/* home page css End here */

.dvLoading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../img/Preloader_3.gif') center no-repeat #fff;
    opacity: 0.8;
}

.headerStyle {
    width: 64%;
    padding: 0px;
    margin: 0;
}

.headerright .welcomeDiv {
    float: right;
    line-height: 37px;
    margin: 0 75px 0 0;
    width: auto;
}

.headerright .welcomeDiv a {
    font-weight: normal;
}

.loginUser.headerright a.borderbtn {
    float: right;
    position: absolute;
    right: 10px;
}

header .headernav {
    width: 70%;
}

.btn-notification {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px 2px 2px 0;
    line-height: 1.65;
    border-radius: 30px;
}

.notificationData {
    top: 40px;
    right: 85px;
    position: absolute;
    background-color: #F6F7F9;
    width: 300px;
    color: white;
    text-align: left;
    padding: 5px;
    box-shadow: 5px 5px 5px #333;
    border: 1px solid black;
    height: 425px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 99;
}

.notificationData1 {
    top: 40px;
    right: 85px;
    position: absolute;
    background-color: #F6F7F9;
    width: 300px;
    color: white;
    text-align: left;
    padding: 5px;
    box-shadow: 5px 5px 5px #333;
    border: 1px solid black;
    height: 60px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 99;
}

.badge-notify {
    background: red;
    position: relative;
    top: -15px;
    left: -11px;
}

.avatar {
    width: 60px;
    float: left;
}

li .avatar img {
    float: left;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-right: 10px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

li .header1 .from {
    font-size: 12px;
    font-weight: bold;
}

li .time {
    font-weight: bold;
    font-style: italic;
    position: relative;
    left: 60px;
    font-size: 14px;
}

header .headerright {
    /*width: 186px;*/
    width: 290px;
}

header .headerright .notificationData a {
    margin-left: 0px;
}

.notificationData li {
    border-bottom: 1px solid;
}

.notificationData li:hover {
    background-color: #C4D2E7;
}

.welcomeDiv:hover {
    cursor: pointer;
}

.openNotification:hover {
    cursor: pointer;
}

.notificationData .allNot {
    position: fixed;
    top: 450px;
    background-color: #F6F7F9;
    width: 298px;
    right: 87px;
    text-align: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px #333;
    border-left: 1px solid black;
    border-top: 1px solid black;
    z-index: 99;
    color: #000;
    cursor: pointer;
}

.notificationData .allRead {
    text-align: right !important;
    color: blue;
}

.allRead:hover {
    cursor: pointer;
}

.notificationData .unread {
    background-color: #ddd;
    color: black;
}

.notificationData .readed {
    background-color: #F6F7F9;
    color: black;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.time .fa-clock-o:before {
    padding-right: 5px;
}

.notification_inner {
    position: fixed;
    background: #FFF;
    width: 285px;
    margin: -5px 0 0 0;
    z-index: 99;
    padding-top: 4px;
    border-bottom: 1px solid black;
}

.notificationData ul {
    margin-top: 24px;
    padding-bottom: 20px;
}

.notificationData1 ul {
    border-top: 1px solid;
    margin-top: 24px;
    text-align: center;
    color: black;
}

.profilePopup {
    position: fixed;
    background-color: #FFF;
    width: 100px;
    z-index: 99;
    top: 40px;
    right: 100px;
    border: 1px solid #000;
    text-align: center;
    padding: 3px;
    box-shadow: 5px 5px 5px #333;
}

header .headerright .dropdown-menu {
    margin: 10px 0 0 -20px;
}

header .headerright .dropdown-menu:before {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, .15);
    content: '';
    position: absolute;
    top: -8px;
    right: 10px;
}

header .headerright .dropdown-menu a {
    margin: 0px;
}

header .headerright .dropdown-menu a:hover {
    background: #1db95c;
    color: #FFF;
}

@media ( min-width: 992px ) and  ( max-width: 1366px ) {
    header .headerright {
        width: 25%;
    }

    .headerStyle {
        width: 58%;
    }
}

@media ( min-width: 768px ) and  ( max-width: 991px ) {
    .headerStyle {
        width: 100%;
    }

    header .headerright {
        width: 240px;
    }
}

@media ( min-width: 480px ) and  ( max-width: 767px ) {
    .headerStyle {
        width: 100%;
    }

    header .headernav {
        width: 65%;
    }

    header .headernav li {
        padding: 7.6px 0;
    }

    header .headernav li a {
        padding: 10px 8px;
    }

    header .headerright {
        width: 250px;
    }

}

@media ( max-width: 479px ) {
    header .headernav {
        width: 40%;
    }

    header .brand {
        width: 40%;
        text-align: left;
    }

    .headerStyle {
        width: 100%;
    }
}

.innerInnerImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    position: absolute;
}

.innerInnerImg img {
    width: 100%;
}

.social-link {
    margin-bottom: 5px;
}

.social-link li {
    display: inline;
}

.social-link li a {
    padding: 5px 10px;
    font-size: 20px;
}

.social-link li a:hover {
    color: #000 !important;
    background-color: #fff;
    border-radius: 25px;
}

#myModal {
    margin-top: auto;
}

.modal-body {
    margin: 22px 0px 25px 0px;
    color: black;
}

.input.select label {
    font-size: 18px;
    font-weight: normal;
}

.input.select #selectZone {
    margin-left: 10px;
    width: 160px;
    margin-bottom: 15px;
}

.titlebody {
    font-size: 18px;
    padding: 0px 0 7px 0;
}

.titlebody span {
    color: #ff0000;
}

.input.select #selectZone1 {
    margin-left: 10px;
    width: 160px;
}

.newTimezone {
    color: red;
    font-size: 15px;
}

.reg-confirm .regconfrimbox {
    padding: 20px;
}

.confrimboxin {
}

.confrimboxin h3.headdingformet {
    font-weight: bold;
    text-align: left;
    /*font-weight: 300;*/
    font-size: 30px;
    color: #8c8c8c;
    position: relative;
    padding: 0px 95px 0 0;
}

.confrimboxin .inputformet {
    text-align: left;
}

.headdingformet span {
    color: #8c8c8c;
    display: block;
    font-size: 14px;
    padding: 5px 0 0;
    font-weight: 400;
}

.confrimboxin .inputformet label {
    font-size: 14px;
    line-height: 15px;
    color: #000;
    float: left;
    padding: 20px 0 5px 0;
    width: 100%;
}

.confrimboxin .inputformet textarea {
    border-radius: 0px;
    border: solid 1px #CCC;
    width: 55%;
    border-radius: 4px;
}

.confrimboxin .inputformet input {
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 14px;
    height: 36px;
    line-height: 30px;
    padding: 0 10px;
    width: 55%;
    border-radius: 4px;
}

.confrimboxin .file figure:hover {
    background: #1db95c;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.confrimboxin .file figure:before {
    position: absolute;
    content: 'Attach Documents';
    left: 40px;
    top: -3px;
}

.confrimboxin .file figure {
    border: solid 1px #1db95c;
    border-radius: 4px;
    height: 40px;
    line-height: 44px;
    margin-top: 10px;
    text-align: left;
    width: 170px;
    padding: 0px 0 0 10px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    position: relative;
}

.confrimboxin .file figure svg {
    color: #FFF;
}

.confrimboxin .file figure svg path {
    color: #FFF;
}

.filesinner {
    clear: both;
    padding-top: 15px;
    text-align: left;
}

.filesinner ul {
    margin: 0px;
    padding: 0px;
}

.filesinner ul li {
    list-style-type: none;
    display: inline;
    position: relative;
}

.filesinner ul li img {
    width: 115px;
    height: auto;
}

.filesinner1 {
    clear: both;
    padding-top: 15px;
    text-align: left;
}

.filesinner1 ul {
    margin: 0px;
    padding: 0px;
}

.filesinner1 ul li {
    list-style-type: none;
    display: inline;
    position: relative;
    float: left;
}

.detailbox .filesinner1 ul li {
    list-style-type: none;
    display: inline;
    position: relative;
    float: left;
    padding: 0px 0 20px 0;
    margin: 0;
    text-align: center;
    width: 20%;
}

.filesinner1 ul li img {
    /*    width: auto;
        max-height: 75px;
        max-width: 100px;*/

    width: auto;
    max-height: 65px;
    max-width: 100px;
    padding-bottom: 10px;
}

.attachImg ul li img {
    width: auto;
    max-height: 65px;
    max-width: 100px;
    padding-bottom: 10px;
    clear: both;
    float: left;
}

.submit {
    clear: both;
    text-align: left;
    padding-top: 6px;
}

.submit input, .submit a {
    background: none;
    border: 1px solid #1db95c;
    background: #1db95c;
    color: #FFF;
    font-size: 15px;
    border-radius: 4px;
    line-height: 35px;
    padding: 0 15px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.submit input:hover, .submit a:hover {
    background: #FFF;
    color: #1db95c;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.search_form .submit input {
    line-height: 34px;
    margin-left: 10px;
}

.search_form .submit a {
    /*padding: 7px 15px 6px 15px*/
    padding: 8px 15px 8px 14px;
    margin-left: 10px;
}

.search_form .input.text label {
    color: #000000;
    float: left;
    font-size: 14px;
    line-height: 15px;
    padding: 20px 10px 5px 0;
}

.search_form .input.text input {
    border: 1px solid #cccccc;
    border-radius: 0;
    font-size: 14px;
    height: 36px;
    line-height: 30px;
    padding: 0 10px;
    width: auto;
    border-radius: 4px;
}

.search_form .input.text {
    float: left;
    border-radius: 4px;
}

.search_form .submit {
    float: left;
    clear: none;
    padding: 0px;
}

.search_form {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px 15px 15px;
    clear: both;
}

.tableSelect .tableCls {
    margin-top: 10px;
}

.tableSelect .tableCls tr th {
    font-size: 14px;
    border: solid 1px #CCC;
    padding: 5px;
    background: #CCC;
}

.tableCls tr th:first-child {
    width: 60px;
}

.tableCls tr td:first-child {
    text-align: center;
}

.tableSelect .tableCls tr:nth-child(odd) {
    background: #f9f9f9;
}

.tableSelect .tableCls tr td {
    font-size: 14px;
    text-align: left;
    border: solid 1px #CCC;
    padding: 5px;
}

.rightpagination {
    overflow: hidden;
}

.rightpagination ul {
    margin: 0px;
}

.rightpagination li {
    font-size: 14px;
}

.rightpagination li a {
    color: #1db95c;
}

.rightpagination li a:hover {
    color: #1db95c;
}

.filesinner a {
}

.filesinner ul li a img {
    height: 22px;
    margin: 5px 11px 0 0;
    position: absolute;
    right: 0;
    width: 22px;
    z-index: 999;
    top: -25px;
}

.filesinner1 ul li a img {
    height: 22px;
    margin: 5px 11px 0 0;
    position: absolute;
    right: -5px;
    width: 22px;
    z-index: 999;
    top: -5px;
}

.filesinner1 ul li b {
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.filesinner.filewid ul li img {
    width: auto;
    max-height: 75px;
    max-width: 100px;
}

.detailbox {
    background: #f9f9f9 none repeat scroll 0 0;
    /*border: 1px solid #cccccc;*/
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin: 15px 0 0;
    overflow: hidden;
    padding: 10px 15px 15px;
}

.fullWidth {
    width: 100% !important;
}

.detailbox h3 {
    padding-top: 20px;
}

.detailbox p {
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
}

.detailbox h4 {
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    padding: 15px 0 0 0;
}

.detailbox h3.topSpacing {
    padding-top: 0px;
}

.bottominput {
    text-align: left;
    padding: 10px 0 0 0;
}

.bottominput input[type="text"] {
    /*    border: 1px solid #cccccc;
        float: left;
        height: 43px;
        padding: 0 10px;
        width: 70%;
        margin: 0px 10px 0 0;
        font-size: 14px;*/

    border: 1px solid #cccccc;
    float: left;
    height: 55px;
    padding: 0px 10px;
    width: 100%;
    margin: -10px 10px 5px 0;
    font-size: 14px;
    border-radius: 5px;
}

.detailinbox {
    background: #e6e6e6 none repeat scroll 0 0;
    margin: 7px 0 15px 0;
    overflow: hidden;
    padding: 15px 15px 14px;
}

.bottominput .submit {
    float: left;
    clear: none;
    padding-top: 0px;
}

.bottominput .submit input {
    float: left;
}

.ques_penal {
    clear: both;
    text-align: left;
}

.ques_penal ul li {
    border-bottom: solid 1px #CCC;
    padding: 10px;
    overflow: hidden;
    margin: 0 15px;
}

.ques_penal ul li p.notAnswer {
    font-size: 14px;
    color: #FF0000;
    padding-left: 106px;
    clear: both !important;
    margin-top: -30px !important;
}

.notAnswer {
    font-size: 14px;
    float: left;
    padding-left: 60px !important;
    clear: both !important;
    margin-top: 0px !important;
    color: #FF0000;
}

.notAnswer1 {
    color: #FF0000 !important;
}

.ques_penal h5 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}

.ques_penal p {
    font-size: 14px;
}

.detailLeft {
    float: left;
    width: 70%;
}

.overflow {
    overflow: hidden;
}

.detailRight {
    /*float: right;*/
    float: left;
    width: 100%;

}

.rightInnerArea {
    text-align: left;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    /*--*/
    margin-top: 14px;
    overflow: hidden;
}

.detailRight ul {
    padding: 5px 0;
    overflow: hidden;
}

.detailRight ul li {
    border: 1px solid #cccccc;
    float: left;
    margin: 5px 10px 5px 10px;
    overflow: hidden;
    padding: 10px;
    /*width: 48%;*/
    width: 98.3%;
    min-height: 90px;
    /*border-right: 1px solid #cccccc;*/
}

.detailRight ul li:last-child {
    /*    border-bottom: none;
        border-right: none;
        padding-bottom: 0px;*/
}

.detailRight ul li img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.detailRight1 ul li img {
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.detailBlog {
    float: left;
    width: 91%;
    padding: 0 0 0 10px;
}

.detailBlog h1 {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.detailBlog p {
    font-size: 14px;
    line-height: 20px;
    display: block;
    clear: both;
}

.buttonsRight {
    background: #1db95c;
    border: 1px solid #1db95c;
    color: #FFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 10px 0px;
    width: 360px;
    height: 38px;
    line-height: 38px;
    /*text-transform: uppercase;*/
    text-align: center;
    border-radius: 5px;
}

.rightInnerArea {
    font-size: 17px;
    text-align: center;
}

.buttonsRight:hover {
    background: none;
    color: #1db95c;
}

.detailBlog h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 0;
    float: left;
    min-width: 200px;
}

.detailBlog h1 {
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0 0;
    float: left;
}

.detailBlog .rightDetailBlog a {
    float: left;
    margin: 10px 10px 0 30px;
}

.detailBlog a {
    border: solid 1px #3300ff;
    color: #3300ff;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 5px 15px;
}

.detailBlog a:hover {
    background: #3300ff;
    color: #FFF;
}

.rightInnerArea {
    margin-top: 14px;
}

.rightInnerArea.innerform {
    margin-top: 20px;
    background: none;
    border: none;
}

.rightInnerArea.innerform h2 {
    float: none;
}

.rightInnerArea.innerform a {
    float: left;
}

.innerSoution {
    margin: 30px 0 0 -80px;
    text-align: left;
    font-size: 15px;
}

.inner1 {
    margin: 0px 0 0 0px !important;
    text-align: left !important;
    font-size: 15px !important;
    padding-left: 0px;
}

.innerSoution a {
    margin-right: 5px;
    border: solid 1px #1db95c;
    color: #1db95c;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.innerSoution a:hover {
    background: #1db95c;
    color: #FFF;
}

.innerSoution a.redbutton {
    border: solid 1px #ff0000;
    color: #ff0000;
}

.innerSoution a.redbutton:hover {
    background: #ff0000;
    color: #FFF;
}

.viewAll {
    border-top: 1px solid #cccccc;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

.viewAll:hover {
    background: #CCC;
    color: #000;
}

.confrimboxin #title-error,
.confrimboxin #detail-error {
    color: #F00;
    padding-top: 5px;
}

.confrimboxin .input.file {
    width: 120px;
}

.confrimboxin.bottomInput .input.file {
    width: auto;
}

.confrimboxin.bottomInput .inputformet input {
    width: 55%;
    margin-left: 0;
}

.doc-image {
    margin-right: 5px;
}

.ques_penal .ques_box .input.text {
    float: left;
    width: 100%;
    margin: 12px 10px 0 0;
}

.ques_penal .ques_box .input.text input {
    border: 1px solid #cccccc;
    float: left;
    height: 55px;
    padding: 0px 10px;
    width: 100%;
    margin: 15px 10px 5px 0;
    font-size: 14px;
    border-radius: 5px;
}

.ques_penal .ques_box .submit {
    float: left;
    clear: none;
    padding-top: 0;
}

.hideAns {
    line-height: 30px;
}

.ques_penal .hideAns p {
    float: left;
    padding-left: 110px;
    clear: both !important;
    margin-top: -20px;
    color: #767676;
}

.ques_penal .hideAns a {
    float: left;
    line-height: 16px;
    margin: 6px 0 0 10px;
}

.ques_penal .hideAns a i {
    font-size: 14px;
}

.ques_box h5 {
    clear: both;
}

.detailBlog .expWelcome {
    padding: 0px;
    float: none;
    border: none;
    color: #000;
}

.detailBlog .expWelcome:hover {
    background: none;
    color: #000;
}

.formdetail .input.text {
    clear: both;
}

.formdetail .input.text input {
    border: 1px solid #ccc;
    width: 75px;
    margin: 0 0 0 10px;
}

.formdetail .input.select {
    float: left;
    margin: 0px 0 0 10px;
}

.formdetail .input.text .totalBig {
    border: none;
    font-size: 27.6px;
    width: auto;
    font-weight: bold;
    padding-top: 13px;
}

.formdetail .input.text label {
    font-size: 27.6px;
    line-height: 30px;
    padding: 15px 0 0 0;
    float: left;
}

.applyQuote .modal-dialog {
    width: 600px;
}

.formdetail .input.select select {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
}

.formdetail b {
    float: left;
}

.modal-content .modal-footer .submit input {
    border-radius: 0px;
    font-weight: 500;
}

.modal-content .modal-footer .submit {
    float: right;
    clear: none;
    padding-top: 0px;
    font-weight: 500;
}

.modal-content .modal-footer #btnRzn:hover,
.modal-content .modal-footer #btnCancel:hover {
    background: #1db95c;
    color: #FFF;
    font-weight: 500;
}

.modal-content .modal-footer #btnRzn,
.modal-content .modal-footer #btnCancel {
    float: right;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #1db95c;
    color: #1db95c;
    font-size: 15px;
    line-height: 35px;
    padding: 0 15px;
    transition: all 0.5s ease 0s;
    margin: 0px 0 0 5px;
    font-weight: 500;
}

.formdetail .input.textarea textarea {
    width: 100%;
    border: solid 1px #CCC;
}

.search_form #searchForm .input.text .input.text #title-error {
    clear: both;
    display: block;
    float: none;
    text-align: left;
}

.allProblems hr {
    border-color: #000;
}

.allProblems a {
    text-decoration: none;
    color: green;
    font-size: 25px;
    font-weight: 500;
}

.tableSelect .allProblems {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
}

.allProblems.tableCls p {
    font-size: 14px;
    font-weight: normal;
    padding: 4px 0 0px 0;
    color: #767676;
    clear: both;
    line-height: 22px;
}

.allProblems.tableCls h2 a {
    font-size: 18px;
    color: green;
    float: left;
}

.allProblems.tableCls h2 {
    float: left;
}

.allProblems.tableCls h3 {
    color: #767676;
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 0px 0;
    float: right;
}

.allProblems.tableCls i {
    font-size: 12px;
}

.allProblems.tableCls b {
    font-size: 14px;
    margin: 0px 0 0 10px;
    font-weight: normal;
}

.allProblems.tableCls ul {
    margin-bottom: 20px;
}

.allProblems.tableCls li {
    border-bottom: solid 1px #CCC;
}

.detailBlog.innerWidBlog .innerSoution {
    margin: 20px 0 0 0;
}

.detailBlog.innerWidBlog {
    width: 100%;
}

#title-error {
    color: #F00;
    padding-top: 5px;
}

.headdingformet a {
    margin-left: 5px;
}

.table .unread {
    background-color: #ddd;
    color: black;
}

.table .readed {
    background-color: #F6F7F9;
    color: black;
}

.allRead {
    text-align: right !important;
    font-size: 15px;
    color: blue;
}

.allRead:hover {
    cursor: pointer
}

.resolved {
    margin-right: 39px;
    color: red;
    font-size: 20px;
    margin-top: -22px;
}

.resolver {
    color: #55575b;
    font-size: 15px;
    font-weight: bold;
}

.filesinner1 ul li.attachmentFile {
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
    margin-right: 5px;
    /*background: #1db95c;*/
    /*border: solid 1px #1db95c;*/
    /*color: #FFF;*/
    /*min-width: 170px;*/
    /*    padding: 0px 0 0 20px;*/
    /*display: block;*/
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #767676;
}

/*.filesinner1 ul li.attachmentFile:hover{
    background: none;
    color: #1db95c;
}*/
/*.filesinner1 ul li.attachmentFile:hover a{
    color: #1db95c;
}*/
/*.attachmentFile a{
    color: #FFF;
}*/
.attachmentFile i {
    padding: 0px 10px 0 0;
}

.confrimboxin.overflow a img {
    width: 34px;
    height: auto;
    margin: 0px 5px 10px 0;
}

.noAttach {
    margin: 0;
    padding: 0;
    float: left;
    width: auto;
    margin-right: 5px;
}

.confrimboxin.que_ans:first-child {
    padding-top: 0px;
}

.que_ans .leftBorder {
    border-left: solid 2px #E6E6E6;
    padding: 0px 0 0 15px;
    margin-top: 20px;
}

.confrimboxin.que_ans {
    border-bottom: solid 1px #E6E6E6;
    padding: 30px 0;
}

.ansSpan {
    display: block;
    line-height: 30px;
    font-size: 28px;
    text-align: left;
    padding: 0px 0 10px 0;
    color: #B7B7B7;
    font-weight: 300;
}

.ansName {
    text-align: left;
    color: #8c8c8c;
    font-size: 14px;
    padding: 0 0 0 0;
    font-weight: 100;
    line-height: 25px;
}

.ans {
    color: #333;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}

.noans {
    color: red;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    /*padding-right: 100%;*/
    margin-right: 100%;
}

.showAllQues {
    text-align: right;
    margin-top: -40px;
    font-size: 18px;
}

.showAllQues a {
    color: blue;
}

/*.changebg .regconfrimbox{
    background: none;
}*/
.teachbdy {
    margin-top: 30px;
}

.viewteachbdy {
    margin-top: 40px;
}

.teachbdy.reg-confirm.changebg {
    background: none;
}

.pagination .active a, .pagination .active a:hover {
    background: green;
    border-color: green;
}

.toptitleicon {
    overflow: hidden;
    padding: 10px 0 0 0;
}

.bottomIcons {
    line-height: 15px;
    margin: 0;
    clear: both;
}

.formetButton {
    float: right;
    clear: none;
    margin: 9px 0 0 0;
    padding: 0;
}

.formetButton a {
    display: block;
    line-height: 35px;
}

.searchButton {
    display: block;
    line-height: 35px;
    text-align: center;
}

/*.searchButton a{
    display: block;
    line-height: 35px;
    width: 10%;
    text-align: center;
    margin: auto;
}*/

.searchButton a {
    background: white;
    color: #1db95c;
    display: block;
    line-height: 35px;
    width: 165px;
    text-align: center;
    margin: auto;
    margin-left: 0px;
}

.searchButton a:hover {
    background: #1db95c;
    color: white;
}

.hideSearch {
    float: left;
    clear: none;
    margin: 3px 0 0 0;
}

.searchLeft .listProblem {
    float: left;
    clear: none;
}

.hideSearch a {
    background: white;
    color: #1db95c;
    display: block;
    line-height: 35px;
    width: 165px;
    text-align: center;
    margin: auto;
    /*margin-right: 0px;*/
}

.hideSearch a:hover {
    background: #1db95c;
    color: white;
}

.search_form.listProblem {
    position: relative;
}

.listProblem.search_form {
    background: none;
    padding: 0px;
    border: none;
    width: 700px;
    margin: 0px 0 -12px -10px;
}

.listProblem.search_form .input.text {
    width: 100%;
}

.listProblem.search_form .input.text input {
    width: 98%;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 6px #A79F9F;
    padding: 0 35px 0 10px;
    margin: 5px auto;
}

.search_form.listProblem .submit i {
    font-size: 18px;
}

.search_form.listProblem .submit {
    position: absolute;
    right: 7px;
    top: 3px;
    background: none;
    border: none;
    color: #1db95c;
}

.search_form.listProblem .submit button {
    background: none;
    border: none;
    color: #1db95c;
    line-height: 20px;
    padding: 0px 12px 0 0;
}

.search_form.listProblem .submit .submit {
    position: relative;
    top: 2px;
    right: auto;
}

.confrimboxin h3.headdingformet.allProblem {
    color: #767676;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
}

.searchLeft {
    float: left;
}

.tableSelect {
    clear: both;
}

@media ( min-width: 992px ) and  ( max-width: 1199px ) {
    .listProblem.search_form {
        width: 70%;
    }

    .searchLeft {
        width: 80%;
    }
}

@media ( min-width: 768px ) and  ( max-width: 991px ) {
    .listProblem.search_form {
        width: 65%;
    }

    .searchLeft {
        width: 74%;
    }
}

@media ( min-width: 480px ) and  ( max-width: 767px ) {
    .listProblem.search_form {
        width: 70%;
        width: 60%;
        margin-right: 2%;
    }

    .searchLeft {
        width: 100%;
    }

    .formetButton {
        float: left;
    }
}

@media ( max-width: 479px ) {
    .listProblem.search_form {
        width: 100%;
    }

    .formetButton {
        margin: 20px 0 0 -6px;
        float: left;
    }

    .hideSearch {
        margin: 8px 0 0 -7px;
    }

    .searchLeft {
        margin: 0px 0 0 -6px;
    }
}

.fileSelect {
}

.fileSelect input[type="file"] {
    height: 38px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 114px !important;
    margin: 41px 0 0 0;
}

#buttonMain {
    border-radius: 4px;
    color: #1db95c;
    padding: 12px;
    z-index: 99;
    background: none;
    width: 120px;
    text-align: center;
    font-weight: bold;
    border: solid 1px #1db95c;
    margin: 0px 0 0px 0;
}

#files_list {
    clear: both;
}

.confrimboxin.bottomInput #files_list input {
    width: auto;
    margin-left: 5px;
}

.showProbStatus {
    font-size: 15px;
    font-weight: bold;
    color: grey;
    margin-left: 5px;
    cursor: pointer;
    float: left;
    margin-top: 1px;
}

.noBorder .detailinbox.ques_penal {
    padding: 0px;
    background: none;
}

.noBorder {
    border: none;
    padding: 0px;
    background: none;
}

.noBorder.detailbox h3.topSpacing {
    border-bottom: solid 1px #CCC;
    padding: 0px 0 5px 0;
    margin: 35px 0 0 0;
    font-weight: initial;
}

.detailRight .rightInnerArea .detailBlog {
    text-align: left;
}

.QuestionAsk {
    color: #8c8c8c;
    font-size: 18px;
    padding-top: 15px;
    padding-left: 5px;
}

.shareProb {
    float: left;
    /*    position: absolute;
        right: 0;
        top: 0;*/
}

.marginBottom {
    margin-bottom: 15px;
}

.fontSize {
    font-size: 20px !important;
    margin-left: 5px;
    margin-top: -2px;
}

@media ( min-width: 768px ) and ( max-width: 992px ) {
    .teachbdy {
        margin-top: 110px;
    }
}

.noAttach {
    line-height: 40px !important;
}

.confirmation {
    position: absolute;
    left: 35px;
}

#cnfrm {
    margin-left: 0px !important;
}

.userSolution {
    margin: 20px 0 0 10px !important;
}

.userSolution1 {
    margin: 0px 0 0 0px !important;
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}

.userName {
    /*    font-size: 13px !important;
        margin: 5px !important;
        margin-bottom: 5px !important;
        line-height: 20px !important;
        color: #0044cc;
        text-transform: capitalize;*/

    font-size: 13px !important;
    margin: 5px !important;
    margin-top: -55px !important;
    line-height: 20px !important;
    color: #0044cc;
    color: #777;
    text-transform: capitalize;
    padding-left: 55px;
}

.userTime {
    /*    font-size: 13px !important;
        margin: 0px !important;
        line-height: 20px !important;*/
    color: #777;

}

.userQuestion {
    font-size: 14px !important;
    font-weight: normal !important;
    float: left;
    /*    margin-left: 25px !important;
        margin-top: -15px !important;*/

    margin-left: 30px !important;
    margin-top: -5px !important;
    color: #767676;
}

.circle {
    float: left;
    margin-right: 5px;
    /*margin-top: 5px;*/
}

.answerUser {
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    clear: both;
}

.ansTime {
    font-size: 13px !important;
    margin-top: 5px !important;
    line-height: 20px !important;
    float: left;
}

.ansName {
    font-size: 13px !important;
    margin: 10px !important;
    line-height: 20px !important;
    /*color: #0044cc;*/
    color: #777;
    text-transform: capitalize;
    float: left;
    margin-top: 25px !important;
}

.editAns {
    float: left !important;
    /*clear: both;*/
    margin-top: -17px !important;
}

.changeHeight {
    height: 50px !important;
}

.frontend {
    margin-top: 25px !important;
}

.alreadyApplied {
    font-size: 15px;
    text-align: left;
    color: #F00;
}

.navigationTop {
    padding-top: 33px;
    margin-bottom: -33px;
}

.navigationindex {
    font-size: 14px;
}

.changeColor, .changeColor a {
    color: #1db95c;
}

.backList a {
    font-size: 15px;
    float: right;
}

.countExpert {
    margin-top: 5px;
}

.countExpert a {
    font-size: 15px;
    color: #F00;
    text-align: left;
}

.detailbox.noBorder {
    clear: both;
}

.backList {
    position: absolute;
    right: 0;
    top: 0;
}

.showLogin input {
    width: 100%;
    margin-top: 8px;
    border-radius: 5px;
}

.leftDetailBlog {
    float: left;
    width: 55%;
}

.rightDetailBlog {
    float: left;
    padding: 15px 0 0 0px;
}

.acceptedExpert {
    margin-left: 5px;
    color: #F00;
}

.exportDetailMain img {
    float: left;
    margin: 50px 20px 0 0;
}

.exportDetailMain li {
    padding-left: 20%;
}

.exportDetailMain .expertDetailBlog {
    float: left;
    text-align: left;
}

.exportDetailMain .expertDetailBlog .detailBlog .innerSoution a {
    margin-left: 0px;
}

.exportDetailMain .expertDetailBlog .detailBlog {
    padding: 0;
}

.exportDetailMain .expertDetailBlog .innerSoution {
    margin: 30px 0 0 0;
    clear: both;
}

.changebuttons {
    width: 45%;
}

.innreRightDetailBlog {
    float: left;
}

.changebuttons .innerSoution.inner1 a {
    margin: 0px;
    margin: 2px 0 2px 20px;
    min-width: 80%;
    text-align: center;
}

.changebuttons .innerSoution.inner1 {
    float: left;
    width: 46%;
}

/*----*/

@media ( max-width: 767px ) {
    .reg-confirm .regconfrimbox {
        padding: 0px;
    }

    .detailRight ul li {
        width: 100%;
    }

    .detailBlog {
        width: 68%;
    }

    .confrimboxin h3.headdingformet {
        font-size: 20px;
        padding: 0 75px 0 0;
    }

    .detailBlog .rightDetailBlog a {
        margin: 0px 10px 0 10px;
    }

    .detailBlog h2 {
        float: left;
        padding: 0;
    }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
    .detailRight ul li {
        width: 100%;
    }

    .confrimboxin h3.headdingformet {
        padding-top: 70px;
    }

    .backList {
        top: 70px;
    }

    .leftDetailBlog {
        width: 40%;
    }

    .detailBlog {
        width: 86%;
    }
}

@media ( min-width: 992px ) and ( max-width: 1200px ) {
    .detailRight ul li {
        width: 100%;
    }

    /*    .confrimboxin h3.headdingformet{
            padding-top: 70px;
        }
        .backList{
            top: 70px;
        }*/
}

@media ( min-width: 1365px ) and ( max-width: 1600px ) {
    .headerStyle {
        width: 57%;
    }

    header .headerright {
        width: 350px;
    }
}

.pagination > .active {
    background-color: #419641;
}













