{% extends 'default/base.html' %}


{% block content %}
    <!-- login content -->

    <section class="midbody midbodybg loginpage">
        <div class="container">
            <div class="formbox clearfix">
                <div class="formbdy">

                    <form method="post" accept-charset="utf-8" action="{% url 'default:login' %}">
                        <h2>Log In</h2>
                        {% csrf_token %}
                        <div class="mg-tp-20">
                            <div class="form-group">
                                {{ error_message }}
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input name="username" class="form-control" placeholder="email"
                                                               id="username" type="email">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input type="password" name="password" class="form-control"
                                                                   placeholder="password" id="password"></div>

                            </div>
                            <div class="form-group">
                                <button class="btn" name="login">Login</button>
                            </div>

                        </div>
                    </form>
                    <div class="rememberme">
                        <input checked id="user_session_remember_me"  name="user_session[remember_me]"
                               type="checkbox" value="1">
                        <label class="" for="user_session_remember_me">Remember me</label>
                        <a class="anyclass" href="{% url 'password_reset' %}">Reset Password</a>
                    </div>
                    <div class="text-strikethru">
                        <div class="line"></div>
                        <div class="text">or</div>
                    </div>
                    <div class="mb1">
                        <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&amp;client_id=775r5enj4hynam&amp;scope=r_basicprofile+r_emailaddress&amp;state=5baa3804a2cfd3.37182853&amp;redirect_uri=http%3A%2F%2Fwww.noobaid.com%2Fusers%2FprocessLinkedin"
                           class="btn linkedinbtn"><i class="fa fa-linkedin"></i> Log in with Linkedin</a>
                    </div>

                </div>
                <div class="formbox-bottom text-center">
                    New to Noobaid? <a href="{% url 'default:sign-up' %}">Sign Up</a></div>
            </div>
        </div>
    </section>
    <!-- end of login content -->
{% endblock %}