{% extends 'default/base.html' %}


{% block content %}
    <!-- start of banner -->
    <section class="homebanner text-center">
        <div class="homebanner_slide homepage-slider-box">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="flexcontent">
                            {% load static %}
                            <img src="{% static 'default/img/bannnerimg.jpg' %}" alt=""/>
                            <div class="homebanner_content">
                                <div class="container">
                                    <div class="box-demand">JUNIOR & ENTRY LEVEL JOBS</div>
                                    <h1>Right balance between productivity and cost</h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!-- end of banner -->
    <section class="help-expert-box">
        <div class="help-expert-box-inner">
            <div class="container">
                <div class="col-md-6">
                    <div class="help-expert-content-box bg-box-one">
                        <h3>I want to employ a graduate</h3>
                        <p>Find graduating students with skill set <span> that match your company's I.T. needs</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="help-expert-content-box bg-box-two">
                        <h3>I am graduating. I need a job</h3>
                        <p>Find employers that are looking for graduates<span> with your specific skill set</span></p>
                        <a href="{% url 'default:job-list' %}" class="green-box-btn">Find a Job</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end of lovely projects -->
    <!-- lovely projects -->
    <!-- lovely projects -->
    <section class="curatedpages text-center equal">
        <div class="container">
            <div class="curatedhead clearfix">
                <h2>Employer Path</h2>
                <p class="work-pera">All graduates are not the same. Some are hardworking and prepared while others are
                    not. <span>This platform is designed to help employers pick the right graduates</span></p>
            </div>
            <div class="how-it-work-box">
                <div class="col-sm-3">
                    <div class="how-it-work-box-inner">
                        <!--<img src="/images/icon-one-box.png">-->
                        {% load static %}
                        <img src="{% static 'default/img/icon-one-box.png' %}" alt=""/>
                        <h4>Specify the Position</h4>
                        <p>Know which position you would like to fill</p>
                    </div>
                </div>
                <div class="col-sm-3">{% load staticfiles %}
                    <div class="how-it-work-box-inner">

                        <img src="{% static 'default/img/icon-one-box-2.png' %}" alt=""/>
                        <h4>View By Skillsets</h4>
                        <p>View graduating students sorted by relevant skill set</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="how-it-work-box-inner">
                        <img src="{% static 'default/img/icon-one-box-3.png' %}" alt=""/>
                        <h4>Select and Interview</h4>
                        <p>Make your selection and interview candidates</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="how-it-work-box-inner">
                        <img src="{% static 'default/img/icon-one-box-4.png' %}" alt=""/>
                        <h4> Fill Your Opening</h4>
                        <p>Employ the candidate of your choice</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of how to work it -->
    <section class="expert-working text-center equal">
        <div class="container">
            <h3 style="line-height: 40px;">Career Services <br/><br/>We support campus Career Service Centers in finding
                junior and entry level positions for their students through our partnership with local recruiters. Find
                out how our services can help improve your center's overall productivity now.</h3>


        </div>
    </section>
    <!-- testimonial -->
    <section class="curatedpages text-center equal">
        <div class="container">
            <div class="curatedhead clearfix">
                <h2>Student Testimonials</h2>
            </div>
            <div class="box-mid-width">
                <div class="col-sm-6">
                    <div class="testimonial-box-inner">
                        <p>"Browsing through open positions on noobaid.com helped me understand what employers are
                            really looking for. "</p>
                    </div>
                    <figure><img src="{% static 'default/img/testimonial-one.png' %}" alt=""/><h5>Ivan Herrera <span>Network Administration, A.A.S.</span>
                    </h5></figure>
                </div>
            </div>
            <div class="box-mid-width">
                <div class="col-sm-6">
                    <div class="testimonial-box-inner">
                        <p>"Computer Science field is very wide and I needed a mentor to guide me. Noobaid provided the
                            support I needed."</p>
                    </div>
                    <figure><img src="{% static 'default/img/testimonial-two.png' %}" alt=""/><h5>Suzzane Hamilton
                        <span>Computer Science, B.Sc.</span></h5></figure>
                </div>
            </div>
            <div class="box-mid-width">
                <div class="col-sm-6">
                    <div class="testimonial-box-inner">
                        <p>"I was able to network with working professionals and find solutions to some of the technical
                            problems I had."</p>
                    </div>
                    <figure><img src="{% static 'default/img/testimonial-three.png' %}" alt=""/><h5>Karl Gimble <span>Information Technology, A.A.S.</span>
                    </h5></figure>
                </div>
            </div>
            <div class="box-mid-width">
                <div class="col-sm-6">
                    <div class="testimonial-box-inner">
                        <p>"I found the junior and entry level positions on noobaid.com very useful because I had no
                            prior experience."</p>
                    </div>
                    <figure>
                        <div class="innerInnerImg"><img src="{% static 'default/img/david_ajao_headshot.png' %}"
                                                        alt=""/></div>
                        <h5>David Ajao <span>Computer Science, M.Sc.</span></h5>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial End-->


    <section class="curatedpages text-center bg-lite-grey equal">
        <div class="container">
            <div class="curatedhead clearfix">
                <h2>Looking for a specific certification?</h2>
                <p class="work-pera">Work with students who already have the certification.</p>
            </div>

            <div class="col-sm-3">
                <div class="specific-service">
                    <a href=""><img src="{% static 'default/images/RHEL-logo1.png' %}" alt=""/></a>
                    <aside>
                        <p>I will dig into any RedHat error FREE for 5 mins</p>
                        <h5>Linux<span>System Administrator</span></h5>
                    </aside>
                </div>
            </div><!--col-sm-3-->

            <div class="col-sm-3">
                <div class="specific-service">
                    <a><img src="{% static 'default/images/oracle-new.jpg' %}" alt=""/></a>
                    <aside>
                        <p>I will Explain any PL/SQL Error FREE for 5 mins</p>
                        <h5>Database<span>Oracle DBA</span></h5>
                    </aside>
                </div>
            </div><!--col-sm-3-->
            <div class="col-sm-3">
                <div class="specific-service">
                    <a><img src="{% static 'default/images/aws1-new.png' %}" alt=""/></a>
                    <aside>
                        <p>I will provide AWS Support FREE for 5 mins</p>
                        <h5>AWS<span>Cloud Administrator</span></h5>
                    </aside>
                </div>
            </div><!--col-sm-3-->
            <div class="col-sm-3">
                <div class="specific-service">
                    <a><img src="{% static 'default/images/RHEL-logo1.png' %}" alt=""/></a>
                    <aside>
                        <p>I will dig into any RedHat error FREE for 5 mins</p>
                        <h5>Linux<span>System Administrator</span></h5>
                    </aside>
                </div>
            </div>
            <!--col-sm-3-->
        </div>
    </section>

    <!-- End here -->


{% endblock %}