{% extends 'default/base.html' %}


{% block content %}
    <section class="teachsetting" style="padding-bottom:40px;">
        <div class="container">
            <div class="regconfrimbox over-flow">
                <div class="confrimboxin bottomInput">
                    <h3 class="headdingformet">
                        <b style="font-size:25px;color:red;">Please upload your Resume to Apply for Job</b>

                    </h3>
                    <div class="backList">
                            <a href="{% url 'default:job-list' %}" class="btn greenbtn"
                               style="background: #fff none repeat scroll 0 0; border: 1px solid #1db95c;color: #1db95c;">&lt;
                                Back</a></div>
                    <div class="detailLeft fullWidth">
                        <div class="detailbox">
                            <div class="filesinner1">
                                <div class="col-sm-12 inputformet">
                                    <div class="row">
                                        <div class="input file">

                                            <div class="box fileSelect">
                                                <label id="buttonMain" for="id_resume" style="width:175px;">
                                                    Select your Resume - {{ form.errors }}
                                                </label>
                                                <form enctype="multipart/form-data" method="post" accept-charset="utf-8"
                                                      novalidate="novalidate" id="resumeform"
                                                      action="{% url 'default:job-apply' job.pk %}">
                                                    {% csrf_token %}
                                                    {{ form.resume }}


                                                    <button class="btn greenbtn" id="resumeupload"
                                                            style="float: left; height: 40px; margin-left :5px; width:110px; padding-top:8px;"
                                                            >Upload
                                                    </button>
                                                </form>
                                                <div>Only .doc,.docx and pdf resumes are supported</div>
                                                <div id="files_list"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}