	/*
  	Flaticon icon font: Flaticon
  	Creation date: 05/07/2016 07:13
  	*/

@font-face {
  font-family: "Flaticon-new";
  src: url("../fonts-new/Flaticon.html");
  src: url("../fonts-new/Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("../fonts-new/Flaticon-2.html") format("woff"),
       url("../fonts-new/Flaticon-3.html") format("truetype"),
       url("../fonts-new/Flaticon-4.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts-new/Flaticon-4.html#Flaticon") format("svg");
  }
}

[class^="flaticon-new-"]:before, [class*=" flaticon-new-"]:before,
[class^="flaticon-new-"]:after, [class*="flaticon-new-"]:after {   
  font-family: Flaticon-new;
font-style: normal;
font-size:50px;
display:inline-block;
}

.flaticon-new-businessman:before { content: "\f100"; }
.flaticon-new-circular-clock:before { content: "\f101"; }
.flaticon-new-graph-analysis:before { content: "\f102"; }
.flaticon-new-money:before { content: "\f103"; }
.flaticon-new-presentation:before { content: "\f104"; }